In [8]:
import pandas as pd
from tqdm import tqdm

In [3]:
df = pd.read_csv("../../data/tbrain_cc_training_48tags_hash_final.csv")

In [3]:
df.head()

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10321418,45,3,3891.965283,3,0,0,0,1.00,...,1.0,4.0,5.0,1.0,99.0,30.0,95982.822967,1.0,4.0,1
1,1,10414574,15,2,10616.561549,2,0,0,0,1.00,...,2.0,2.0,15.0,1.0,2.0,30.0,130702.351368,1.0,3.0,1
2,1,10134567,48,2,23527.655416,0,2,0,0,0.00,...,1.0,3.0,11.0,1.0,3.0,30.0,112010.611717,0.0,4.0,1
3,1,10001003,48,9,17751.558260,7,2,0,0,0.75,...,2.0,3.0,11.0,1.0,2.0,30.0,59701.507360,0.0,3.0,1
4,1,10267183,2,1,21701.307598,1,0,0,0,1.00,...,2.0,6.0,15.0,1.0,99.0,30.0,NaN,0.0,6.0,0

In [6]:
len(df)

32975653

In [8]:
len(df[df["shop_tag"]=="2"])

1971956

In [10]:
predict_tag = [2, 6, 10, 12, 13, 15, 18, 19, 21, 22, 25, 26, 36, 37, 39, 48]
for i in predict_tag:
    if i == 2:
        small = df[df["shop_tag"]==str(i)]
    else:
        small = pd.concat([small, df[df["shop_tag"]==str(i)]], ignore_index=True)

len(small)

22130579

In [11]:
small.to_csv("../data/tbrain_small.csv", index=False)

## 採樣

In [4]:
df['shop_tag'].value_counts()

37       4092401
other    2988218
15       2573145
36       2550500
45       2411310
10       2234101
2        1971956
48       1806496
12       1130825
19       1022234
25        795763
6         634849
18        629407
16        628987
13        625801
31        607888
22        547293
39        535248
21        503873
26        476687
46        424055
9         349932
17        345814
11        280455
33        261088
5         231969
47        225170
32        202863
35        185585
34        183470
41        166662
7         160780
20        130038
8         129061
23        124889
40        118913
43        114998
38        113608
3         109286
42         91492
14         73457
30         62032
44         55273
24         31530
1          20800
4           5997
27          4754
28          4585
29           115
Name: shop_tag, dtype: int64

In [9]:
# 取得所有類別名稱
tags = df["shop_tag"].unique()

# 每個類別最多取40W筆資料
for i, tag in tqdm(enumerate(tags), desc="sampling"):
    max_rows = 400000
    f_df = df[df["shop_tag"]==tag]
    if len(f_df) > max_rows:
        sample_df = f_df.sample(n=max_rows)
    else:
        sample_df = f_df
    
    # 進行拼接
    if i==0:
        merge_df = sample_df
    else:
        merge_df = pd.concat([merge_df, sample_df])
        
len(merge_df)

49it [04:30,  5.52s/it]

12184616

In [11]:
merge_df.to_csv("../../data/tbrain_sample.csv", index=False)