# 資料讀取

In [2]:
df = pd.read_csv("../data/tbrain_small.csv")
len(df)

22130579

In [21]:
final_df = pd.read_csv("../data/需預測的顧客名單及提交檔案範例.csv")
len(final_df["chid"].unique())

500000

In [3]:
df = df.drop(columns=['Unnamed: 0'])
df.columns

Index(['dt', 'chid', 'shop_tag', 'txn_cnt', 'txn_amt', 'domestic_offline_cnt',
       'domestic_online_cnt', 'overseas_offline_cnt', 'overseas_online_cnt',
       'domestic_offline_amt_pct', 'domestic_online_amt_pct',
       'overseas_offline_amt_pct', 'overseas_online_amt_pct', 'card_1_txn_cnt',
       'card_2_txn_cnt', 'card_3_txn_cnt', 'card_4_txn_cnt', 'card_5_txn_cnt',
       'card_6_txn_cnt', 'card_7_txn_cnt', 'card_8_txn_cnt', 'card_9_txn_cnt',
       'card_10_txn_cnt', 'card_11_txn_cnt', 'card_12_txn_cnt',
       'card_13_txn_cnt', 'card_14_txn_cnt', 'card_other_txn_cnt',
       'card_1_txn_amt_pct', 'card_2_txn_amt_pct', 'card_3_txn_amt_pct',
       'card_4_txn_amt_pct', 'card_5_txn_amt_pct', 'card_6_txn_amt_pct',
       'card_7_txn_amt_pct', 'card_8_txn_amt_pct', 'card_9_txn_amt_pct',
       'card_10_txn_amt_pct', 'card_11_txn_amt_pct', 'card_12_txn_amt_pct',
       'card_13_txn_amt_pct', 'card_14_txn_amt_pct', 'card_other_txn_amt_pct',
       'masts', 'educd', 'trdtp', 'naty', 'poscd', 'cuorg', 'slam',
       'gender_code', 'age', 'primary_card'],
      dtype='object')

In [4]:
df.head()

,dt,chid,shop_tag,txn_cnt,txn_amt,domestic_offline_cnt,domestic_online_cnt,overseas_offline_cnt,overseas_online_cnt,domestic_offline_amt_pct,...,masts,educd,trdtp,naty,poscd,cuorg,slam,gender_code,age,primary_card
0,1,10267183,2,1,21701.307598,1,0,0,0,1.0,...,2.0,6.0,15.0,1.0,99.0,30.0,NaN,0.0,6.0,0
1,1,10115966,2,1,6698.199203,1,0,0,0,1.0,...,1.0,4.0,9.0,1.0,1.0,30.0,133000.939458,0.0,5.0,1
2,1,10484590,2,2,6693.510475,2,0,0,0,1.0,...,2.0,2.0,15.0,1.0,99.0,30.0,82728.103080,0.0,3.0,1
3,1,10079974,2,1,3271.025090,1,0,0,0,1.0,...,2.0,2.0,2.0,1.0,2.0,30.0,117920.305695,0.0,4.0,1
4,1,10233949,2,1,2829.165439,1,0,0,0,1.0,...,1.0,5.0,15.0,1.0,99.0,30.0,181351.200025,1.0,6.0,1

In [5]:
# traing data & testing data
df, test_df = train_test_split(df, test_size=0.2, random_state=66)

## Data Preprocess

- txn_cnt 有負數可以進行排除
- 做ＮＡＮ處理
- 將id 重新編號
- 訓練樣本是否需要平衡？平衡後訓練人數會不會下降？
- 有些人數沒有出現過在需預測的類別中，因此需思考要如何對這些人做預測

### 排除消費次數為負數的數值

In [88]:
df = df[df["txn_cnt"]>0]

### 任一欄位為NAN則排除

In [91]:
df.dropna(inplace=True)

In [92]:
len(df["chid"].unique())

491439

### 將chid重新編號

取得最後輸出時需要的chid

In [96]:
num_to_id = { i:id for i, id in enumerate(final_df["chid"].unique())}
id_to_num = { id:i for i, id in enumerate(final_df["chid"].unique())}

In [97]:
df["adj_id"] = df["chid"].map(id_to_num)
df.head()

,chid,shop_tag,txn_cnt,txn_amt,masts,educd,trdtp,naty,poscd,cuorg,gender_code,age,primary_card,txn_amt_log,adj_id
17447537,10101577,37,2,3600.642994,1.0,4.0,10.0,1.0,99.0,30.0,1.0,5.0,1,8.188868,62666
6599788,10253940,15,1,5773.036485,1.0,3.0,2.0,1.0,1.0,30.0,1.0,4.0,1,8.660953,370269
6941918,10265500,15,1,10606.681271,1.0,5.0,2.0,1.0,99.0,30.0,0.0,4.0,1,9.269239,71089
8388154,10372923,15,2,14427.826990,1.0,3.0,11.0,1.0,2.0,30.0,0.0,3.0,1,9.576914,164432
12702868,10414655,26,3,23869.510734,1.0,2.0,11.0,1.0,1.0,30.0,1.0,7.0,1,10.080357,490131

In [104]:
df[["adj_id"]].head()

          adj_id
17447537   62666
6599788   370269
6941918    71089
8388154   164432
12702868  490131